/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
/*******************************************************************************/ 

	header{
		
		margin: 0 auto;
		text-align: center;
		font-size: 3em;
		font-family: "Arial Black", Gadget, sans-serif; 
		font-weight: 500;
		padding-top: 2.5em;
		padding-bottom: 0 auto;
		width:100%;
		height:100px;
		position: static;
		background: ##00aa77;

		
	}

	
	
	.bodywrapper {
		flex-direction: column;
		padding: 4em;
		max-width: 45em;
		margin:0 auto;
		flex: 1 100%;
		flex-flow: column wrap;
		
	}


	nav {
		position: fixed;
		top:0;
		width: 100%; 
 		padding: 1%; 
 		display: flex;
		font-size:1.1em; 
 		flex-flow: row wrap;
		border: 3px solid black; 
		background: #bcc0be;
 		justify-content: space-around;
 		font-family: 'Metrophobic', Arial, serif; font-weight: 200;
	}

	img{
		max-width: 100%;
		size:50%;
		border-radius: 1.5em;
		border: 3px solid #2d9fb9;
		box-shadow: 0.8em 0.9em 0.8em #195867;
		box-sizing: content-box;
	}

	h2{
		font-size:3em;
		padding-top: 1.3em;
		margin-top: 1.0em;
		text-align: center;
	}

.sec1 {
		border-radius: 15px 50px;
   		border: 2px solid white;
    		padding: 20px; 
    		width: 0px auto;
   		height: 0px auto;
		}


	
	.sec3 {
		border-radius: 15px 50px;
   		border: 2px solid white;
    		padding: 20px; 
    		width: 0px auto;
   		height: 0px auto;
		}

	

	.sec5 {
		border-radius: 15px 50px;
   		border: 2px solid white;
    		padding: 20px; 
    		width: 0px auto;
   		height: 0px auto;
		}

	p{
		font-size:1.5em;
		padding: 1.7em;
		font-family: 'Metrophobic', Arial, serif; font-weight: 300;
		
	}


	ul {
		list-style-type:square;
		font-size:1.4em;
		padding: 1em;
		font-family: 'Metrophobic', Arial, serif; font-weight: 300;
	}


	body{
		background: ##00aa77;
		background-image: url("zenbg-1.png"), url("zenbg-2.png");
		background-repeat: repeat-x, repeat; 
	}
